*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* font add section */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1A0B2E;
  color: #ffffff;
}

        /* nav section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    max-width: 75rem;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(229, 225, 225);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span{
    color: #d01da9;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a{
    color: #FFFFFF;
    text-decoration: none;
}

.btn-sub {
    background: linear-gradient(to left, #9100F8, #FB09B4, #F7E93F) ;
    border: none;
    padding: 0.782rem 1rem;
    border-radius: 1.57rem;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
}
    /* hero section */
.hero {
    width: 100%;
    text-align: center;
    background: url("../assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}

.hero-image-container{
    position: relative;
    display: inline-block;
    width: 21.875rem;
    height: 21.875rem;
    margin-top: 6.3125rem;
    margin-bottom: 2.5rem;
}

.cicrle-image{
    width: 100%;
    height: auto;
    display: block;
}

.mic-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.3125rem;
  height: auto;
  z-index: 2;  
}

.bdg-new {
    position: absolute;
    top: 1.8rem;
    right: 0;
    background: #00FF88;
    color: #1A0B2E;
    padding: 0.5rem 1rem;
    border-radius: 1.25rem;
    font-size: 1.125rem;
    font-weight: 700;
    z-index: 3;
    box-shadow: 0 0.19rem 1.69rem #00ff8886;
}

.hero h1{
    font-size: 3.75rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.hero p{
    font-size: 1rem;
    max-width: 34.375rem;
    margin: 0 auto 1.5rem;
}

.hero-btns{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.btn-spotify {
    background: #ffffff;
    color: #000;
    padding: 15px 35px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
}